/* .background {
  object-fit: cover;
} */
.custom-square {
  margin: 0 10px;
  max-width: 350px;
  animation: custom-square 3s infinite alternate;
}
.custom-bridge {
  margin: 0 10px;
  max-height: 300px;
  animation: custom-bridge 3s infinite alternate;
}
.custom-p {
  font-size: 22px;
}
.custom-btn {
  display: flex;
  justify-content: center;
}
.custom-link-back {
  color: black;
}

.custom-link-back:hover {
  color: blueviolet;
}

@media (max-width: 768px) {
  .custom-square {
    margin: 0 15px;
    height: 20vh;
    max-width: 175px;
  }
  .custom-p {
    font-size: 17px !important;
  }
}

@media (max-width: 768px) {
  .custom-bridge {
    margin: 0 15px;
    height: 20vh;
    max-width: 175px;
  }
  .custom-p {
    font-size: 16px;
  }
}

@keyframes custom-square {
  0% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(-10px);
  }
}

@keyframes custom-bridge {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
